.themed-grid-col {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: SALMON;
  border: 1px solid rgba(169, 194, 131, .2);
  text-align: center;
}

.themed-container {
  padding: 15px;
  margin-bottom: 30px;
  background-color: rgba(255, 132, 0, .15);
  border: 1px solid rgba(255, 132, 0, .2);
}
a:hover {
  color: white;
}
.slider {  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: WHITE;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 5px;
  height: 25px;
  background: BLACK;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: YELLOW;
  cursor: pointer;
}
body {
  background-color: black;
}
.top-part{
  margin-bottom: 7em;
}
.down-arrow {
  fill: rgba(255,197,166, .2);
  display:inline-block;
  text-align: center;
}
.down-arrow:hover {
  fill: rgba(255,197,166, .6);
}
.container {

}
.container-lg {
}
.noice-stuff {
  margin-top: -2vw;
  text-alignt: center;
  color:#C2ECE5;
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
  margin-top: 0.01vw;
  font-family:BebasNeue;

}
.sub-logo p:hover {
  color: #F1DA70;
}
.main-logo {
  color:#ffb58c;
  font-weight: bolder;
    font-size: 15vw;
       line-height: 12vw;
       font-family:BebasNeue;
       text-align: center;
}
.sub-logo {
  color: #ddd9c 2;
  margin-top: -2vw;
  font-weight: bold;
  font-size: 4vw;
  opacity: 68%;
  letter-spacing: 0.04vw;
  font-family:BebasNeue;
}
@font-face {
font-family: BebasNeue;
src:url(fonts/BebasNeue.ttf) format('truetype')
